:root {
  --primary-color: #0090D5;
  --primary-hover-color: #079fe6;
  --main-bg-color: #FFFFFF;
  --main-content-bg-color: #E1E8F0;
  --divider-color: #c8c8c8;
  --search-bar-bg-color: #E1E8F0;
  --primary-text-color: #FFFFFF;
  --main-text-color: #636363;
  --card-stripe-color: #FDB423;
  --icon-size: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template: 80px auto 1fr / 300px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar user-panel"
    "sidebar main";
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(60deg) brightness(109%) contrast(105%);
}

.icon.dashboard {
  background-image: url(./icons/dashboard.svg);
}

.icon.home {
  background-image: url(./icons/home.svg);
}

.icon.profile {
  background-image: url(./icons/profile.svg);
}

.icon.messages {
  background-image: url(./icons/message.svg);
}

.icon.history {
  background-image: url(./icons/clock.svg);
}

.icon.tasks {
  background-image: url(./icons/files.svg);
}

.icon.communities {
  background-image: url(./icons/people.svg);
}

.icon.settings {
  background-image: url(./icons/cog.svg);
}

.icon.support {
  background-image: url(./icons/help-box.svg);
}

.icon.privacy {
  background-image: url(./icons/shield-check.svg);
}

.icon.search {
  background-image: url(./icons/magnify.svg);
}

.icon.notifications {
  background-image: url(./icons/bell.svg);
}

.icon.star {
  background-image: url(./icons/star-plus.svg);
}

.icon.watch {
  background-image: url(./icons/eye-plus.svg);
}

.icon.fork {
  background-image: url(./icons/fork.svg);
}

.main-header .profile-pic,
.user-panel .profile-pic {
  background-image: url(./images/pikasonic.jpeg);
  background-size: 100%;
}

.trending .profile-pic {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-pic.morgan {
  background-image: url(./images/cat.png);
  background-color: #FFD005;
}

.profile-pic.tegan {
  background-image: url(./images/dog.png);
  background-color: #DBF3FE;
}

.profile-pic.kendall {
  background-image: url(./images/spiderman.png);
  background-color: #A3A3A3;
  background-size: 55%;
}

.profile-pic.alex {
  background-image: url(./images/pengiun.png);
  background-color: #FF92AF;
  background-size: 60%;
}

.sidebar {
  background-color: var(--primary-color);
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 80px auto 1fr;
  gap: 20px;
  color: var(--primary-text-color);
}

.sidebar .logo,
.sidebar li > a {
  display: flex;
  place-items: center;
  padding: 12px 16px;
}

.sidebar .logo {
  gap: 12px;
}

.sidebar li > a {
  font-size: 1.2rem;
  font-weight: 700;
  gap: 8px;
  cursor: pointer;
}

.sidebar li > a:hover {
  background-color: var(--primary-hover-color);
}

.logo .icon,
.sidebar li .wrapper {
  width: 50px;
}

.logo .icon {
  height: 50px;
}

.logo .title {
  flex: 1;
  font-size: 1.6rem;
}

.center {
  margin: 0 auto;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.main-header,
.user-panel {
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 40px;
}

.main-header {
  grid-area: header;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 76px;
}

.main-header > * {
  flex-shrink: 0;
}

.main-header > .search {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-header .search-bar {
  flex: 1;
  width: 0;
  max-width: 750px;
  --height: 36px;
  height: var(--height);
  background-color: var(--search-bar-bg-color);
  border-radius: var(--height);
  outline: none;
  border: none;
  padding: 0 18px;
  font-size: 1rem;
}

.main-header .profile {
  grid-area: profile;
  gap: 24px;
  padding: 0 60px 0 16px;
}

.profile-pic {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.user-panel {
  grid-area: user-panel;
  display: flex;
  align-items: center;
  padding-right: 50px;
  gap: 16px;
  box-shadow: 0 4px 4px 0px rgb(207, 207, 207);
  z-index: 100;
}

.user-panel .greeting-text {
  font-size: 0.9rem;
  font-weight: 500;
}

.user-panel .username {
  font-size: 1.3rem;
}

.user-panel .profile-pic {
  width: 60px;
  height: 60px;
}

.user-panel .user {
  flex: 1;
}

.user-panel .nav {
  display: flex;
  gap: 30px;
}

.user-panel button {
  --height: 36px;
  height: var(--height);
  width: 96px;
  border-radius: var(--height);
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
}

.user-panel button:hover {
  background-color: var(--primary-hover-color);
}

.main-content {
  background-color: var(--main-content-bg-color);
  grid-area: main;
  display: grid;
  grid-template: 1fr / 1fr 300px;
  grid-template-areas: 
    "projects aside";
  padding: 28px 16px;
  padding-right: 32px;
  gap: 20px;
}

.card h2,
.card h3 {
  cursor: pointer;
}

.main-content p {
  color: var(--main-text-color);
}

.main-content .projects {
  grid-area: projects;
}

.main-content h2 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card {
  background-color: var(--main-bg-color);
  padding: 36px 26px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgb(207, 207, 207);
}

.projects .cards {
  --gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--gap);
}

.projects .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-left: 8px solid var(--card-stripe-color);
}

.projects .card h3 {
  font-weight: 500;
} 

.projects .card p {
  min-height: 100px;
  font-weight: 300;
  font-size: 1.1rem;
  flex: 1;
}

.projects .card .buttons {
  align-self: flex-end;
  display: flex;
  gap: 20px;
}

.button-style-white {
  background-color: transparent;
  border-radius: var(--icon-size);
  border: none;
  padding: 6px;
  cursor: pointer;
}

.button-style-white:hover {
  background-color: var(--main-content-bg-color);
}

.main-content .aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aside .announcements h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 4px;
}

.aside .announcements p {
  font-weight: 300;
  font-size: 0.8rem;
}

.divider {
  border-top: 1px solid var(--divider-color);
}

.aside .trending {
  flex: 1;
}

.aside .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.announcements .content div:not(.divider) {
  padding: 0 4px;
}

.trending .content {
  gap: 24px;
  padding: 24px;
  font-size: 0.9rem;
}

.trending .content > div {
  display: grid;
  grid-template: auto auto / auto 1fr;
  grid-template-areas: 
    "profile-pic user"
    "profile-pic description";
    column-gap: 12px;
}

.trending .profile-pic {
  grid-area: profile-pic;
}

.trending .user {
  grid-area: user;
  align-self: end;
}

.trending .description {
  grid-area: description;
}

.cursor-pointer {
  cursor: pointer;
}
